/******** RESET *************/

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    margin:0;
}

.flex{display: flex;}
.flexColumn{flex-direction: column;}
.justifyCenter{justify-content: center;}
.justifyEnd{justify-content: flex-end;}
.alignCenter{align-content: center;}

.relative{position: relative;}

.absolute{
    position: absolute;
    bottom: 0;
    left: 0;
}

.width100{width: 100%;}

.col5{width: 5%;}
.col10{width: 10%;}
.col15{width: 15%;}
.col20{width: 20%;}
.col25{width: 25%;}
.col30{width: 30%;}
.col40{width: 40%;}

.border{border: 0.5px solid white}


/*********** HEADER  ****************/

header{
    height: 60px;
    background-color: black;
    justify-content: flex-end;
    color: white;
    align-items: flex-start;
    padding-right: 10px;
    padding-top: 10px;
}

.leftContainer{
    width: 9%;
    background-color: gray;
    padding: 1px;
    border-radius: 3px;
    margin-right: 6px;
    cursor: pointer;
}

.leftContainer > img{
    width: 17%;
    cursor: pointer;
}

.iconName{
    padding-top: 2px;
    margin-left: 2px;
}

.rightContainer{
    width: 21px;
    height: 24px;
    background-color: gray;
    padding: 3px 3px;
    border-radius: 3px;
    cursor: pointer;
}

/**********INIZIO MAIN *************/

main{
    height: calc(100vh - 120px);
    background-color: black;
}

.container{
    width: 1300px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    height: 83vh;
    margin: 0 auto;
    padding-top: 2em;
}

.box{
    
    width: calc(100% / 7 - 5px);
    height: 110px;
    margin-bottom: 15px;
    margin-right: 5px;  
    background-image: url(https://picsum.photos/200);
    background-position: center;
    background-size: cover;
}

.boxContent{
    width: 82px;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.362);
    padding: 2px;
    align-items: center;

}

.boxContent > div{
    font-size: 12px;
    margin-left: 3px;
}

.boxContent > i{
    font-size: 11px;
}

/********* INIZIO FOOTER ***********/

footer{
height: 60px;
background-color: #222222;
}


.rightFooterBox > div{
    color: red;
    font-size: 10px;
    width: 20%;
    height: 100%;
    background-color: #4a4a4a;
    padding-top: 25px;
    padding-left: 15px;
}

.iconDescription{
    font-size: 10px;
}

footer i{
    font-size: 20px;
    margin: 8px 0;
}

.col5, .col10, .col15, .col20, .col25{
    align-items: center;
}

.fa-share-from-square{
    color: #4bc800;
}

#arrow{
    font-size: 10px;
    padding-top: 16px;
    
}




